# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/node_modules
/.vscode
/.idea
/.git
/.github
/.prettierignore
/.eslintignore
/.stylelintrc
/.eslintrc
/.editorconfig
/.env
/.env.local
/.env.development
/.env.production
/.env.test
/.env.*.local
/logs
/error.log